* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  background-color: #0d0d0d;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

nav,
main,
aside,
footer {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: nav;
  background: black;
  height: 10vh;
}

.burger {
  order: -1;
  color: rgba(255, 255, 255);
  padding: 1rem;
}

.menu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 5rem;
}

.logo img {
  width: 100%;
}

.buscar input {
  display: flex;
  border-radius: 5px;
  width: 90%;
}

main {
  grid-area: main;
  background-color: #0d0d0d;
  height: 80vh;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* barra scroll */
  overflow-y: scroll;
}

.mainProd {
  display: flex;
  min-height: 100px;
  margin-top: 1rem;
}

.mainProd img {
  width: 100%;
}

.secondsProd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  margin: 1rem 0;
}

.product {
  width: 45%;
}

.product img {
  width: 100%;
}

.mainProd {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background: black;
  height: 10vh;
  font-size: medium;
}

a {
  color: white !important;
  text-decoration: none;
}

@media (min-width: 576px) {
  body {
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
  }

  .burger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
    font-size: x-small;
  }

  .mainProd {
    width: 89%;
  }

  .secondsProd {
    flex-wrap: nowrap;
  }

  .product {
    width: 21%;
  }
}

@media (min-width: 992px) {
  body {
    grid-template-columns: 15% 85%;
    grid-template-areas:
      "nav nav"
      "main main"
      "footer footer";
  }

  .menu {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: small;
    gap: 2rem;
  }

  .mainProd {
    width: 79%;
  }

  .product {
    width: 19%;
  }
}
